table {
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

thead {
    background-color: #fc8a8a;
}

th {
    font-weight: 900;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #ffffff;
}

tr.tr-one {
    background-color: #ffd4b3;
}

tr.tr-two {
    background-color: #ffffff;
}

td#email {
    color: #0000ff;
    text-decoration: underline;
}

td#address {
    text-transform: uppercase;
}

