#color {
    color: red;
    font-family: serif;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: overline;
    text-align: left;
    text-indent: 20px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

#rgb {
    color: rgb(95, 95, 175);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    font-style: oblique;
    text-transform: lowercase;
    text-decoration: line-through;
    text-align: center;
    text-shadow: 2px 2px 3px #241918;
    text-indent: 2em;
    letter-spacing: 20px;
    word-spacing: 10px;
}

#opacity {
    opacity: .5;
    font-family: monospace;
    font-size: 2em;
    font-weight: 100;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: right;
    text-indent: 100%;
    letter-spacing: 30px;
    word-spacing: 20px;
}

#rgba {
    color: rgba(105, 12, 226, 0.5);
    font-size: 50%;
    font-weight: 500;
    letter-spacing: 40px;
    word-spacing: 30px;
}

#hexcode {
    color: #63a869;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 50px;
    word-spacing: 40px;
}